:root {
  --background-color: #fdfaff;
  --theme-color-1: #412f85;
  --theme-color-2: #ff6700;
  --theme-color-3: #cb5b12;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin: 0 5%;
  width: 90%;
  max-width: 1300px;
}

.main-content {
  margin: 100px auto;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.main-title {
  color: var(--theme-color-1);
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.product-title {
  color: var(--theme-color-1);
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 32px;
}

.api-title {
  color: var(--theme-color-1);
  font-size: 18px;
}
.api-content {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.api-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.api-add-new-case {
  font-size: 14px;
  color: var(--theme-color-2);
  cursor: pointer;
  transition: 0.15s linear;
}

.api-add-new-case:hover,
.api-add-new-case:focus,
.api-add-new-case:active {
  color: var(--theme-color-3);
  text-decoration: underline;
}

.api-case {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

.api-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.api-input-title {
  flex-basis: 100%;
}

.api-input-range {
  width: 80%;
  display: flex;
  gap: 100px;
  position: relative;
}
.api-input input[type="range"] {
  display: flex;
  width: 100%;
}

.api-input input[type="range"]::after {
  content: attr(data-value) " " attr(data-unit);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: absolute;
  left: calc(100% + 20px);
  top: -3px;
  width: max-content;
}

.api-input input[type="text"],
.api-input input[type="number"],
.api-input select {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  min-width: 250px;
}

.form-actions {
  display: flex;
  margin-top: 20px;
}
.button {
  text-decoration: none;
  background-color: var(--theme-color-2);
  border-radius: 5px;
  color: #fff;
  transition: 0.15s linear;
  padding: 10px 20px;
}

.button:hover {
  background-color: var(--theme-color-3);
}
